<main class="y-wrap">
    <h1>Testing this page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, sint dicta dolor id fugiat earum aspernatur ad molestiae tenetur sapiente eligendi quidem ullam, veritatis error asperiores voluptatem ipsa a animi?</p>
</main>